<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="Oldaf">
        <h1>Hello Ths is First Vue</h1>
        <p>Hello {{ `Mr ` + name }} We Are so happy to see you</p>
        <p>Your Age is {{ age + "Years" }}</p>
        <p>Your First Skills is: {{ skills[0] }}</p>
        <p>You are {{ isSubscribed ? "Subscribed" : "Not Subscribed" }}</p>
        <p>Your First test name is : {{ completedTests[0].testName }}</p>
        <p>Your First test result is : {{ completedTests[0].testResult }}</p>
        <!-- <p>{{saySomething()}}</p> -->
        <!-- <p>{{sayMyName()}}</p> -->
        <p>{{yourAgeDays()}}</p>
        <p>{{ date }}</p>
        <button @click="showNewDate">Show New Date</button>
        ------------------------------------------
        <!-- we make this condition to test it with v-text -->
        <p v-text="name ? `your name is set` : `your name is not set` "></p>
        <!-- We make this to test change inner v-html -->
        <p v-html="title"></p>
        ------------------------------------------
        <p>
            <ul>
                <li v-for="skill in skills">
                    {{ skill }}
                </li>
            </ul>
            <ul>
                <li v-for="(skill, index) in skills">
                    {{ index }} | {{ skill }}
                </li>
            </ul>
            <ul>
                <li v-for="(test, index) in completedTests">
                {{index}} | {{ test.testName }} | {{ test.testResult}}
                </li>
            </ul>
        </p>
        ------------------------------------------
        <p v-if="age > 60">You are too old</p>
        <p v-else-if="age > 15 && age <= 45">You are a Man</p>
        <p v-else>You still Under Controll</p>
        ------------------------------------------
        <p v-show="name">{{ name }}</p> <!-- if i need to keep element inside page and want to display it again -->
        <p v-once="age">{{ age }}</p>  <!-- if i need from vue not render or move on this line again -->
        <hr>
        <a v-bind:href="imageUrl">  <!-- we can use (v-bind:  or just :)-->
            <img :src="imageSrc" :alt="imageAltText"> <!-- we can use (v-bind:  or just :)-->
        </a>
        <hr>
        <p> Counter is : {{ counter }}</p>
        <button v-on:click="counter++">Increase</button>  <!-- we can use @click >> v-on:click  -->
        <hr>
        <form action="">
            <input type="text" v-bind:value="source" placeholder="Using v-bind"> <!-- One Way Binding -->
            <input type="text" v-model="source" placeholder="Using v-model"> <!-- Two Way Binding -->
        </form>
        <p>your name is {{ source }}</p>
        <hr>
        <app-count v-bind:source="source" v-bind:url="url"></app-count>
        <app-count :source="source" :url="url"></app-count>
        <app-count :source="source" :url="url"></app-count>
        <hr>
        <app-artical v-for="post in posts" :title="post.title" :author="post.author"></app-artical>
        <hr>
        <app-artical-item></app-artical-item>   <!-- Local Component -->
        <hr>
        <!-- if we want to make it by methods must use function -->
        <p> your age is {{ calcAge() }}</p>
        <hr>
        <!-- if we need to make it by computed and this is better without function-->
        <p>your age is {{ calcAge }}</p>
    </div>
<script src="main.js"></script>
<script src="vue.js"></script>
<script>
    // Global Component
    Vue.component(`app-count`, {
        data: function () {
            return {
                name: `Ahmed`,
                count: 0,
            }
        },
        props: [`source`, `url`],
        template: `<p @click="count++"> Hello Mr {{ name }} You can click on this Paragraph {{ count }} Times <button><mark>press here</mark></button> source {{ source }} and url {{ url }}</p>`
    })
    Vue.component(`app-artical`, {
        data: function () {
            return {
                count: 0,
            }
        },
        props: [`title`, `author`],
        template: `<p @click="count++">Artical title is {{ title }} And Written by <mark>{{ author }}</mark> count: {{ count }}</p>`,
    })
    // local component  <<<<<<<<<<<<
    // var appArticalItem = {
    //     data: function () {
    //         return {
    //             count: 0
    //         }
    //     },
    //     template: `<p>Local component {{ count }}</p>`
    // }
    var vm = new Vue({
        el: `#Oldaf`,
        data: {
            imageSrc: `01.jpg`,
            imageAltText: `The Alternate Test`,
            imageUrl: "https://www.google.com",
            counter: 0,
            source: `Ahmed`,
            url: `https://www.google.com`,
            name: "Ahmed",
            // name: false,   // we make this to use it with v-text
            title: `<b class="rank">Noob</b>`, 
            age: 31,
            date: `Today`,
            skills: ["html", "css", "js", "vue.js"],
            isSubscribed: false,
            posts: [
                {id: 1, author: `Ahmed`, title: `Artical Number One`},
                {id: 2, author: `Mohamed`, title: `Artical Number two`},
                {id: 3, author: `Sayed`, title: `Artical Number three`},
                {id: 4, author: `Sondos`, title: `Artical Number four`},
                {id: 5, author: `Gehad`, title: `Artical Number five`},
            ],
            completedTests: [
                {
                    testName: "firstTest",
                    testResult: "90%"
                },
                {
                    testName: "secondTest",
                    testResult: "80%"
                },
                {
                    testName: "thirdTest",
                    testResult: "70%"
                },
            ],
        },
        // methods: {
        //     saySomething: function () {
        //         return `Hello From vue.js methods`;
        //     }
        // }
        // methods: {
        //     sayMyName: function () {  
        //         // return this.name;
        //         // return this.age;
        //         return this.skills[2];
        //     }
        // }
        methods: {
            yourAgeDays: function () {  
                return `Your Age in Days : ` + this.age * 365 ;
            },
            showNewDate: function () {
                this.date = Date();
            }
        },
        // Local component   <<<<<<<<<<<<<
        // components: {
        //     `app-artical-item`: appArticalItem
        // },
        methods: {
            calcAge: function () {
                console.log(`run`);
                return this.age * 2;
            }
        },
        computed: {
            calcAge: function () {
                console.log(`run`);
                return this.age * 2;
            }
        },
    })
</script>
<p>"v-text & v-html & v-for & v-if & v-else-if & v-else & v-once & v-show & v-bind or : & v-on:click.anything or @click.anything  & v-model."</p>
</body>
</html>



